
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Roboto',sans-serif;
        }

.container-flex{
display: flex;
justify-content: space-between;
background-color: #343a40;
color: #ffffff;
padding: 1rem;
}
.list{
visibility: hidden;
font-size: 8px;
}

.imgPrincipal {
background-image: url('../assets/images/img_principal_one.jpg');
filter: grayscale(100%);
height: 400px;
background-size: cover;
background-position: center;
 }
.container-flex1{
text-align: justify;
line-height: 25px;
font-size: 12px;
margin:1rem;
}

.cont-galery{
border:2px solid #ccc3;
}
.galery{
width: 100%;
}
.txt-date{
padding: 4%;
}
.btn {
background-color: #007bff;
margin-top: 15px;
padding: 10px;
border-radius: 4px;
outline: none;
border: none;
color: white;  

}
.button {
    height: auto;
    width: 100%;
    background-color: #ccc3;
    border-top: 1px solid #cccccc;
    padding: 2%;
}
.footer{
font-size: 12px;
justify-content: center;
background-color: #343a40;
width: 100%;
}

@media (min-width: 768px) {
.col-xs-offset-1{
margin-right:-2rem;
}
span i {
    visibility: hidden;
}
.list {
    visibility: visible;
    display: inline-block;
    font-size: 17px;
    margin-left: 35%;
}
.list li {
    float: left;
    margin: 0 10px;
    list-style: none;
}
    }

@media (min-width: 992px) {
.col-xs-offset-1 {
    margin-right: -2rem;
}
.list {
    visibility: visible;
    display: inline-block;
    font-size: 17px;
    margin-left: 50%;
}

.list li {
    float: left;
    margin: 0 10px;
    list-style: none;
}




    }
/*
    .title-right {
        background-color: #343a40;
        color: #ffffff;
        text-align: left;
    }

    .main {
        padding: 30px 30px;
    }

    .title {
        display: inline-block;
        margin: 0 50% 0% 5%;
    }

    .list li {
        float: left;
        margin: 0 10px;
        list-style: none;
    }

    .list {
        display: inline-block;
    }

    h1 {
        font-size: 20px;
    }

    .img_nav {
        filter: grayscale(100%);
        height: 500px;
        background-size: cover;
        background-position: center;
    }

   
    img {
        width: 100%;
    }

    .gutters{
    margin: 2em;
    }


    .box-text {
        padding: 15px;
    }

    .box-text p {
        margin: 10px auto;
    }

    .button {
        height: auto;
        width: 100%;
        background-color: #ccc3;
        border-top: 1px solid #cccccc;
    }

    .btn {
        background-color: #007bff;
        margin-top: 15px;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
        color: white;
        margin: 10px 15px;
    }

    .h2 {
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
    }

    footer {
        padding: 50px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        background-color: #343a40;
        color: white;
        margin:0px;
    }

    .view-desktop {
        display: block;
    }

    .view-tabled {
        display: none;

}
   
*/















@media (min-width: 768px) {
    .col-section {
        width: 100%;
        float: left;
    }
}